section#homepage {
  display: flex;
  flex-direction: column;
  height: calc(100% - 70px);
  .h__top {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    padding: 20px 30px;
    @media (max-width: 768px) {
      margin-top: 10px;
      margin-bottom: 20px;
      flex-wrap: wrap;
      button:last-child {
        display: none;
      }
    }
    button {
      background-color: black;
      color: white;
      height: 50px;
      width: 18%;
      border: none;
      border-radius: 5px;
      @media (max-width: 768px) {
        width: 48%;
        margin-bottom: 20px;
      }
    }
  }
  .h__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 30px;
    .h__blog-left {
      width: 58%;
      margin-bottom: 20px;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    .h__blog-right {
      width: 38%;
      margin-bottom: 20px;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}